body {
  margin: 0;
}
.wrapper {
  margin:auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  padding-top: 7px;
  padding-right: 10px;
}
.logo, .menu{
  display: inline-block;
}
.logo {
  position: relative;
  padding: 36px 0;
  padding-left: 44px;
  font: bold 24px/32px "pt_serifbold", arial, helvetica, sans-serif;
}
.logo__circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: .7;
}
.logo__circle_colour_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.logo__circle_colour_dark-blue{
  background: #0056EC;
}
.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  position: relative;
  margin-right: 28px;
  font: 500 18px/21px "Roboto", arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item::after {
  position: absolute;
  content: "";
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s;
}
.menu__item:hover {
  opacity: 0.5;
}
.menu__item:hover::after, .menu__item_active::after{
  opacity: 1;
}
.main {
  padding: 0 63% 19% 0;
  padding-top: 5%;
  margin-right: 7px;
  background: top right no-repeat url('img/mainImg.svg');
}
.main__title {
  margin: 0 0 38px 0;
  font: bold 66px/87px "pt_serifbold", arial, helvetica, sans-serif;
}
.main__title-text_highlight{
  background: linear-gradient(to top, transparent 8%,#ecf3ff 8%, #ecf3ff 85%, transparent 85% );
}
.main__subtitle {
  margin: 0px 0 59px 0;
  font: normal 22px/26px "Roboto", arial, helvetica, sans-serif;
}
.main__button {
  padding: 16px 34px 20px 24px;
  color: #FFFFFF;
  background: #0056EC;
  font: normal 18px/21px "Roboto", arial, helvetica, sans-serif;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 8px;
  background: url('img/footerImg.svg');
}
#menu__toggle {
  opacity: 0;
}
@media (max-width: 768px) {
  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
  .header {
    margin-bottom: 28px;
  }
  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
       display: flex;
       align-items: center;
       position: fixed;

       top: 20px;
       right: 20px;
       width: 26px;
       height: 26px;

       cursor: pointer;
       z-index: 1;
     }
     /*добавляем гамбургер*/
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
       display: block;
       position: absolute;
       width: 100%;
       height: 2px;
       background-color: #616161;
     }
     .menu__btn > span::before {
       content: '';
       top: -8px;
     }
     .menu__btn > span::after {
       content: '';
       top: 8px;
     }
     #menu__toggle:checked ~ .menu__btn > span {
       transform: rotate(45deg);
     }
     #menu__toggle:checked ~ .menu__btn > span::before {
       top: 0;
       transform: rotate(0);
     }
     #menu__toggle:checked ~ .menu__btn > span::after {
       top: 0;
       transform: rotate(90deg);
     }
     #menu__toggle:checked ~ .menu {
       visibility: visible;
       left: 0:
     }
  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
  }
  .main__title {
    margin-bottom: 44px;
    font: bold 30px/40px "pt_serifbold", arial, helvetica, sans-serif;
  }
  .main__subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px "Roboto", arial, helvetica, sans-serif;
  }
  .main__button {
      font: 500 14px/16px "Roboto", arial, helvetica, sans-serif;
  }

}
